   html {
    
        min-height: 100%;
        background: linear-gradient(rgba(255, 0, 0, 0.863),rgb(0, 0, 0));
        background-attachment: fixed;
    
    }
   
    body {

        text-align: center;
        min-height: 100%;

    }

    #slider {

        text-align: center;
        height: 500px;
        overflow: hidden;
       
    }
    
    #slider img {
        
        display: inline-block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100;
    
    }

    .white-text {
      
        color: antiquewhite;
        text-decoration: none;
        text-shadow: 2px 2px black;
   
    }

    .link-text {
        
        display: flex;
        justify-content: center;
        color: antiquewhite;
        padding: 15px;
        font-size: larger;
        text-shadow: 2px 2px rgb(0, 0, 0);
    
    }

    .link-text:hover {
        
        color:rgb(255, 0, 0);
        text-decoration: underline;
        
    }
  
    h1 {
        
        border: 2px solid antiquewhite;
        border-radius: 10px;
        background-color: rgba(188, 5, 5, 0.919);
        text-align: center;
        font-size: xxx-large;
        text-shadow: 4px 4px black;
        padding: 15px;
        
    }    
    
    h2 {
        
        font-size: xx-large;
        background-color: rgba(188, 5, 5, 0.919);
        border: 2px solid antiquewhite;
        border-radius:10px;
        text-shadow: 2px 2px black;
        padding: 15px;
    
    }    
    
    .gallery {

        text-align: center;
        height: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        color: antiquewhite;
        text-decoration: none;
        
    }

     .gallery img {
        
        max-height: 100%;
        max-width: 100%;
        transform: scale(0.9);
        transition: transform 0.2s ease;
      
    }

    .gallery img:hover {

        transform: scale(1);
    
    }
    
    #quote {
      
        font-size: xx-large;
        text-shadow: 2px 2px black;
    
    }
    
    
    #quote-container {
       
        margin-bottom: 500px;

    }
    
    button {

        background-color: rgba(188, 5, 5, 0.919);
        color: antiquewhite;
        border: 1px solid antiquewhite;
        border-radius: 5 px;
        padding: 20px 20px;
        margin: 5px;
        cursor: pointer;
        font-size: larger;
        transition: background-color 0.3s ease;
        overflow: hidden;
        text-shadow: 2px 2px black;
    
    }

    button:hover {

        background-color: rgb(255, 4, 4);
   
    }
    
    ul {
    
        font-size: x-large;
        text-align: left;
        
    }
    
    footer {
        
        max-width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(188, 5, 5, 0.919);
        border: 2px solid antiquewhite;
        border-radius: 10px;
        padding: 20px;
        font-size: large;
        
    }

    .signature {
        
        text-decoration: antiquewhite;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .video-container {

       display: flex;
       justify-content: center;
       padding: 30px;

    }

    .video-container iframe {

       
        
    }