   html {
    
    background: linear-gradient(red,rgb(0, 0, 0));

   }
   
   .white-text {
       
        color: antiquewhite;
  
    }
   
   
   h1 {
        
        background-color: rgba(0, 0, 0, 0.237);
        text-align: center;
        
    }    
    
    body {
    
       text-align: center;
       
    }

    .gallery {

        display: flex;
        justify-content: center;
    }

    .gallery img {

        max-width: 100%;
        height: auto;
        transform: scale(0.7);
        transition: transform 0.2s ease;
        border: 2px solid #fff;
    
    }

    .gallery img:hover {

        transform: scale(0.9);
    
    }
    
    ul {
        
        text-align: left;
        
    }

    footer {
        
        text-align: center;
        background-color: rgb(110, 22, 22);
    
    }