   html {
    
    background: linear-gradient(red,rgb(0, 0, 0));

   }
   
   .white-text {
       
        color: antiquewhite;
  
    }
   
   
   h1 {
        border: 2px solid #fff;
        background-color: rgba(104, 3, 3, 0.919);
        text-align: center;
        font-size: xxx-large;
    }    
    
    
    
    h2 {
        font-size: xx-large;
        background-color: #910101;
        border: 2px solid white;
    
    }    
    
    body {
    
       text-align: center;
       
    }

    .gallery {

        display: flex;
        justify-content: center;
    }

    .gallery img {

        max-width: 100%;
        height: auto;
        transform: scale(0.7);
        transition: transform 0.2s ease;
        border: 2px solid #fff;
    
    }

    .gallery img:hover {

        transform: scale(0.9);
    
    }
    
    ul {
        font-size: x-large;
        text-align: left;
        
    }

    footer {
        
        text-align: center;
<<<<<<< HEAD
        background-color: rgb(104, 0, 0);
=======
        background-color: rgb(110, 22, 22);
>>>>>>> b03407fcdeeaff63dc724f6c0a9c638d4e52c7f2
    
    }